<form [formGroup]="projectDeliveryForm" id="masters">
  <div>
    <div>
      <p-table class="form-group mb-10" [columns]="cols"
        [value]="projectDeliveryForm.get('projectDeliveryTypeDTO')['controls']" formArrayName="projectDeliveryTypeDTO">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of cols">
              {{ col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
          <tr [formGroupName]="rowIndex">
            <td>
              {{rowData.value.deliveryType}}
            </td>
            <td>
              <p-inputSwitch></p-inputSwitch>
            </td>
            <td>
              {{'Masters.startDate' | translate}}
            </td>
            <td>
              {{rowData.value.endDate}}
            </td>
            <td>
              {{rowData.value.comments}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div>
      <p-table class="form-group mb-10" [columns]="columns"
        [value]="projectDeliveryForm.get('projectDeliveryBillingTypeDTO')['controls']"
        formArrayName="projectDeliveryBillingTypeDTO">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
          <tr [formGroupName]="rowIndex" *ngIf="rowData.value.isDeliveryTypeId === true" aria-colspan="5">
            <td colspan="5" class="dynamic-headers">
              {{rowData.value.deliveryTypeName}}
            </td>
          </tr>
          <tr [formGroupName]="rowIndex">
            <td>
              {{rowData.value.billingTypeName}}
            </td>
            <td>
              <p-inputSwitch></p-inputSwitch>
            </td>
            <td>
              {{'Masters.startDate' | translate}}
            </td>
            <td>
              {{rowData.value.endDate}}
            </td>
            <td>
              {{rowData.value.comments}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</form>