#header{
.user-profile {
    border: 1px solid #000000;
    border-radius: 3px;
    opacity: 1;
    min-width: 85px;
    // font-family: 'Source Sans Pro', sans-serif;
    font-family: "Raleway", sans-serif !important;
    border-radius: 3px;
    border: 2px solid #c5c5c5;
    background-color: white;
    cursor: pointer;
  }
  .ui-menu {
    cursor: pointer;
    z-index: 9999 !important;
  }
}