#Performance-indicators {
    .table-title {
        font-weight: bold;
        font-size: 18px;
    }
    .ui-table .ui-table-thead > tr > th {
        border: 1px solid #c8c8c8;
        font-weight: 700;
        color: #ffffff;
        height: 28px;
        font-size: 13px;
        background-color: #3599a8;
    }
    .red {
        color: #f55a41;
    }
    .ui-table-scrollable-wrapper {
        border-bottom: 1px solid #c8c8c8;
    }
    .currency-value {
        float: right;
        padding: 0 2em;
        font-size: 12px;
    }
    .green {
        color: #12bd68;
    }
    .currency-font {
        font-size: 14px;
    }
    .tittle-header {
        font-weight: bold;
        font-size: 18px;
    }
    .group {
        padding-left: 30px;
    }
}
