#reimbursements-and-sales {
  max-height: 70vh !important;
  min-height: 69vh !important;
  overflow: auto;
  .ui-inputtext {
    width: 100%;
  }
  .table-footer > td {
    color: #666666;
    background-color: #eeeeee;
  }

  .ui-table-wrapper {
    width: auto;
    overflow-x: scroll;
    max-width: 99%;
    word-wrap: break-word;
  }
  .ui-inputtext {
    width: 100% !important;
  }
  .ui-dropdown {
    width: 100%;
  }
  .ui-inputtext.ng-invalid {
    border: 2px solid $error;
    border-radius: 4px;
  }
  .ui-inputtext {
    max-width: 200px !important;
  }
  body .ui-table .ui-table-tbody > tr > td {
    padding: none;
    padding: 0.25em 0.5em;
  }
  .ui-table .ui-table-tfoot > tr > td {
    background: #eeeeee 0% 0% no-repeat padding-box;
    color: #666666;
    font-weight: 700;
  }
  .footer-summary {
    border: 1px solid #c8c8c8;
    background: #eeeeee 0% 0% no-repeat padding-box;
  }
  .scrollable-part > .ui-table-scrollable-body {
    margin-bottom: 7px !important;
  }
  .ui-table-summary {
    background-color: #f4f4f4 !important;
    color: #1d1a1a;
    border: 1px solid #c5c5c5;
    padding: 0.571em 1em;
    text-align: center;
    padding-bottom: 56px;
  }
  .ui-table-unfrozen-view {
    .ui-table-scrollable-header {
      overflow-y: scroll;
    }
    .ui-table-scrollable-body {
      overflow-x: scroll;
      overflow-y: scroll;
    }
    .ui-table-scrollable-footer .ui-table-scrollable-footer-box {
      margin-right: 0px !important;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
  .ui-table-scrollable-wrapper {
    border: 1px solid #c5c5c5;
  }
  .ui-table-frozen-view .ui-table-scrollable-body {
    padding-bottom: 15px !important;
  }
  #periodNote {
    color: #c73e27;
    font-weight: bold;
  }
  .ui-table-tbody > tr > td {
    height: 43px !important;
  }
  .input-percent {
    width: 80% !important;
  }
  .percent {
    padding-left: 5px !important;
    padding-right: 0px;
  }
}
