
#risk-management {
  table  > tr > td {
      border-top: none;
      border-bottom: none;
  }
  // white-space: nowrap;
  // overflow-x: auto;
  overflow-y: hidden;
  .bottom-row {
    border: ridge 1px;
  }
  .postionInfo{
    position: absolute;
    top: 2px;
    right: -22px;
    z-index: 0;
  }
  .positionIcon{
    position: relative;
    z-index: 0;
  }
  input{
    background: #FCFCFC;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    width: 100%;
    height: 30px;
    max-width: 102px;
  }
  span{
    vertical-align: middle;
    padding-right: 10px;
  }
  .orCOlor{
    color: #999999;
  }
  .table{
     &td,
    & th{
      padding: 10px;
      vertical-align: middle;
      color: #111;
      font-size: $font-size;
    }
    & td{
      &:last-child{
        border-right: solid 1px rgba(0, 0, 0, 0.12);
      }

      text-align: right;
      border-right: solid 1px rgba(0, 0, 0, 0.12);
      &.content_center{
        text-align: center!important;
     
      }
      
    }

    .sticky-header-section {
      background: #FFFFFF !important;
      border-right: none;
      border-top:none;
      border-left: none !important;
    }

    .horizontalsection{
      background: #eeeeee;
      text-align: left;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      left: 0;
      border-left: solid 1px rgba(0, 0, 0, 0.12);
      z-index: 10;
      font-weight: 700;
      & span{
        display: block;
        font-weight: 600;
        margin-left: 0;
      }
    }
    & .tableHead{
      background: #EEEEEE;
      border: solid 1px rgba(0, 0, 0, 0.12);
      &:nth-child(1){
        border-radius: 5px 0 0 0;
      }
    }
    .totalVal{
      text-align: right;
    }
    .totalValTitle{
      text-align: left;
    }
  }
  .table-header {
    th {
      max-height: 30px !important;
    }
  }

  #periodNote {
    color: #c73e27;
    font-weight: bold;
  }
}
