#unauthorised {
    .ui-dialog-content {
        width: 51em;
        text-align: center;
        height: 20em;
        overflow: hidden;
    }
    .ui-dialog-title {
        font-size: 18px;
    }
    .access-img {
        height: 222px;
        width: 224px;
    }
}
