<span *ngFor="let item of breadcrumb; let i = index">
    <li [ngStyle]="{'font-size': fontSize, 'font-weight' : fontWeight}">
        <a *ngIf="item?.url && item?.url !=='administration'" [routerLink]="item?.url" [ngStyle]="{'color': fontColor}">{{ item.label }}</a>
        <a *ngIf="item?.url =='administration'" [routerLink]="adminUrl" [ngStyle]="{'color': fontColor}">{{ item.label }}</a>
        <span *ngIf="!item?.url && item?.url !=='administration'" [ngStyle]="{'color': lastLinkColor}">{{ item.label }}</span>
        <span class="line" *ngIf="breadcrumb.length !== i+1">{{symbol}}</span>
    </li>
</span>