<div id="infographics">
  <!-- <div class="row">
    <div class="col-md-3" style="display: block;">
      <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
      </canvas>
    </div>
    <div class="col-md-3" style="display: block;">
      <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
      </canvas>
    </div>
    <div class="col-md-3" style="display: block;">
      <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
      </canvas>
    </div>
    <div class="col-md-3" style="display: block;">
      <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
      </canvas>
    </div>
  </div> -->
  <h4 [ngStyle]="{'text-align': 'center', 'color':'Red'}">No Data to show here!</h4>
</div>