<div id="infographics">
    <!-- <div style="display: block;" style="display: block;height: 50vh;width: 50em;">
        <span class="title">{{Ebitda.Title}}</span>
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [plugins]="barChartPlugins" [chartType]="barChartType">
        </canvas>
    </div>
    <div class="row">
        <div class="col-md-6" style="display: block;" style="display: block;height: 50vh;width: 50em;">
            <span class="title">{{Revenue.Title}}</span>
            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
            </canvas>
        </div>
        <div class="col-md-6" style="display: block;" style="display: block;height: 50vh;width: 50em;">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [chartType]="barChartType">
            </canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="display: block;">
            <span class="title">{{Location.Title}}</span>
            <canvas baseChart [datasets]="scatterChartData" [options]="scatterChartOptions"
                [chartType]="scatterChartType">
            </canvas>
        </div>
        <div class="col-md-6" style="display: block;">
         
        </div>
    </div> -->
    <h4 [ngStyle]="{'text-align': 'center', 'color':'Red'}">No Data to show here!</h4>
</div>